.centerContainer{
	width:780px;
	height:900px;
	margin:0 auto;
}
#wrapper{
	background-image:url(6903576862_762aaf1b6f_b.jpg);
	background-repeat:no-repeat;
	width:780px;
	height:900px;
}
#swf{padding-top:250px; width:756px; margin:0 auto;}
